[submodule "thirdparty/doctest"]
	path = thirdparty/doctest
	url = https://github.com/doctest/doctest.git
[submodule "thirdparty/libcertpp"]
	path = thirdparty/libcertpp
	url = https://github.com/jay94ks/libcertpp.git
